<ion-view>
	<div class="bar bar-header">
		<h1 class="title">Login With</h1>
		
	</div>
	<ion-content class="has-header padding">
		
		<button class="button button-positive padding-horizontal" on-tap="loginWithFaceBook()">
			<i class="icon ion-social-facebook"></i> Facebook 
		</button>
		<p align="center">Or</p>

		<button class="button button-block button-assertive padding-horizontal">
			<i class="icon ion-social-googleplus"></i> Google Plus
		</button>
		<a ng-href="#/todos"> Go </a>

	</ion-content>
</ion-view>