<ion-pane>
  <ion-header-bar class="bar-dark">
    <h1 class="title">Todo </h1>
    <button class="button button-balanced icon ion-plus" ng-click="addTodo()"></button>

  </ion-header-bar>
  <ion-content has-bouncing="true">
    <ion-list>
      <ion-item ng-repeat="todo in data.todos" class="item-checkbox" on-hold="showActions($index)">
        <label class="checkbox checkbox-positive">
          <input type="checkbox" ng-model="todo.done" ng-change="changed($index)">  
        </label>
        <span ng-class="{done:todo.done}">{{todo.text}}</span>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-pane>